body{
    background: #ffffff;
}
.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}
.grid > article{
    background: #ecebeb;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius:  20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}
.grid > article:hover{
    transform: translateY(-15px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text{
    padding: 0 20px 20px;
}
.text h3{
    font-family: 'Satisfy';
    text-transform: uppercase;
}
.text p{
    font-family: 'Macondo';
}
/* .text > p > a > .lectures{
    color: rgb(184, 15, 15);
    font-family: 'Satisfy';
    text-decoration: none;
    font-weight: 600;
} */
.text > p > a{
    color: rgb(0, 114, 108);
    font-family: 'Satisfy';
    font-size: 150%;
    text-decoration: none;
    font-weight: 600;
}
.text > p > a:hover{
    color: #09aedb;
    transition: 0.3s;
    text-decoration: underline solid rgb(8, 247, 135);
}
.text button{
    font-family: 'Caveat';
    background: #0a83a1;
    border-radius: 40px;
    border: none;
    color:rgb(228, 224, 224);
    padding: 10px;
    width: 50%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.text button:hover{
    background: #0ea8d3;
    color: rgb(238, 238, 238);
    width: 60%;
    transition: 0.3s;
}

@media (max-width: 760px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid > article{
        text-align: center;
    }
}